.pdf-viewer * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
.pdf-viewer .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.pdf-viewer nav {
    display: flex;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
}

.pdf-viewer button {
    background-color: #f5f5f5;
    border: none;
    color: #000;
    padding: 1rem;
    list-style: none;
    font-size: 1.3rem;
    margin: 0.7rem;
    border-radius: 20%;
    cursor: pointer;
}

.pdf-viewer .previous {
    background-color: #f1f1f1;
    color: black;
}

.pdf-viewer .next {
    background-color: #4a8fed;
    color: white;
}

.pdf-viewer p {
    font-size: 1.3rem;
    background-color: #f5f5f5;
    padding: 1rem;
}

.highlight-box {
    position: absolute;
    background-color: #ffff0033;
    pointer-events: none;  /* Makes it non-interactive so users can still select text underneath */
}