#cursor {
    animation: blinkCursor 1s infinite;
    font-weight: bold;
  
  }
  
  @keyframes blinkCursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


.Response {
    font-size: 20px;
    margin-left: 7px;
    padding: 30px 10px;
    text-align: left;
    margin: 0px;
    transition: opacity 0.5s ease-in-out;
    white-space: pre-wrap;
    background-color: dimgrey;
  }
  .ResponseManager {
    border-radius: 1%;

    flex-direction: row;
    max-width: 100%;
  }
  .modelTabs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    color: whitesmoke;
    height: 100%;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
  }
  .modelTabs button {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border : none;
    max-height: 20%;
    color: inherit;
    background-color: inherit;
    position: sticky;
    top: 0;
  }
  .modelTabs button:hover {
    background-color: var(--main-color);
  }
  .modelTabs button:focus {
    outline: none;
    border-right: none;
    border-left: 10px ridge whitesmoke;
    transition: border-left 0.3s ease;
  }
  .choose {
    color: inherit;
    background-color: rgba(40, 40, 40, 0.3);
    border: 1px solid;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

  }